<p>
  <strong>Title:</strong>
  <%= @techbit.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @techbit.description %>
</p>

<p>
  <strong>URL:</strong>
  <%= @techbit.url %>
</p>

<p>
  <strong>active:</strong>
  <%= @techbit.active %>
</p>

<%= link_to 'Back', techbits_path %>