<div class="row top-header" role="banner">
  <div class="large-6 columns">
    <a href="<%= @dol_home %>" class="left"> <span class="brand"></span>
      <h1 class="header-logo-type">UNITED STATES<br />DEPARTMENT OF LABOR</h1>
    </a>
  </div>
  <div class="large-2 columns">
    <div class="social-block right hide-for-small">
      <a href="<%= @dol_home %>/cgi-bin/leave-dol.asp?exiturl=http://www.facebook.com/departmentoflabor&exitTitle=www.Facebook.com&fedpage=no"  class="sm-facebook">Facebook</a> 
      <a href="<%= @dol_home %>/cgi-bin/leave-dol.asp?exiturl=http://twitter.com/usdol&exitTitle=www.Twitter.com&fedpage=no" class="sm-twitter">Twitter</a> 
      <a href="<%= @dol_home %>/cgi-bin/leave-dol.asp?exiturl=http://www.instagram.com/USDOL&exitTitle=www.instagram.com/USDOL&fedpage=no" class="sm-instagram">DOL Instagram</a> 
      <a href="<%= @dol_home %>/rss/" class="sm-rss">RSS</a> 
      <a href="javascript:window.open('https://public.govdelivery.com/accounts/USDOL/subscriber/new','Popup','width=800,height=500,toolbar=no,scrollbars=yes,resizable=yes'); void('');" onclick="window.status='Subscribe'; return true" onmouseover="window.status='Subscribe'; return true" onmouseout="window.status=''; return true" class="sm-email">Email</a>
    </div>
  </div>
  <div class="large-4 columns">
    <div id="searchbox">
      <form accept-charset="UTF-8" action="http://search.usa.gov/search" id="search_form" method="get" autocomplete="off"><input name="utf8" type="hidden" value="&#x2713;" />
        <div class="small-10 columns">
          <label for="query" class="show-for-sr">Search DOL</label>
          <input type="search" id="query" name="query" placeholder="Find it in DOL" title="Find it in DOL" aria-required="true" required="required" >
        </div>
        <div class="small-2 columns">
          <input type="hidden" name="affiliate" value="u.s.departmentoflabor">
          <input type="image"  src="<%= image_path("icon-search.png") %>"  vspace="4"  alt="Search DOL" class="usagov-submit">
        </div>
      </form>
    </div>
  </div>
</div>
